[submodule "src/coreboot"]
	path = src/coreboot
	url = https://github.com/platinasystems/coreboot
[submodule "src/linux"]
	path = src/linux
	url = https://github.com/platinasystems/linux
[submodule "src/u-boot"]
	path = src/u-boot
	url = https://github.com/platinasystems/u-boot
[submodule "src/buildroot"]
	path = src/buildroot
	url = https://github.com/platinasystems/buildroot.git
