[submodule "src/coreboot"]
	path = src/coreboot
	url = ssh://git@github.com/platinasystems/coreboot
[submodule "src/linux"]
	path = src/linux
	url = ssh://git@github.com/platinasystems/linux
[submodule "src/u-boot"]
	path = src/u-boot
	url = ssh://git@github.com/platinasystems/u-boot
